@model UsersViewModel
@{
    Layout = "SoftDev";
    ViewData["Title"] = "Home Page";
}
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
<h2>Se connecter</h2>
<div class="text-center">
    
    @using (Html.BeginForm("Users", "LoginController", FormMethod.Post))
    {<table border="0" cellpadding="4">
         <tr><td><label asp-for="login">Login</label></td><td> <input asp-for="login" class="form-control" /></td></tr>
            <tr><td><label asp-for="Password">Mot de Passe</label></td><td> <input asp-for="Password" class="form-control" />/td></tr>
            
        </table>
     <button type="submit" value="Se connecter">Se connecter</button>
    }


</div>
