body {
    position: absolute;
    width: 1237px;
    height: 724px;
    left: 63px;
    top: 36px;
    background: #FFFFFF;
    border: 1px solid #7BE6F9;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
h2 {
    position: absolute;
    width: 203px;
    height: 81px;
    left: 153px;
    top: 248px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
}
input {
    position: absolute;
    width: 384px;
    height: 38px;
    left: 153px;
    top: 367px;
    border: 1px solid #56EBFF;
    box-sizing: border-box;
    border-radius: 10px;
}
button {
    position: absolute;
    width: 439px;
    height: 47px;
    left: 153px;
    top: 527px;
    background: linear-gradient(259.39deg, #45E9FF 0%, rgba(99, 236, 255, 0.881777) 17.41%, rgba(113, 238, 255, 0.942259) 25.4%, rgba(21, 170, 217, 0.39) 99.75%);
    border-radius: 10px;
}
